.cubetop {
  transform: rotateX( 90deg) translateZ(25px);
}
.cubebottom {
  transform: rotateX( -90deg) translateZ(25px);
}
.cuberight {
  transform: rotateY( 90deg) translateZ(25px);
}
.cubeleft {
  transform: rotateY( -90deg) translateZ(25px);
}
.cubefront {
  transform: rotateY( 0deg) translateZ(25px);
}
.cubeback {
  transform: rotateY( 180deg) translateZ(25px);
}